// min max width value
minw = 'min-width'
maxw = 'max-width'
// device-width value
pchd2 = 2560px
pchd1 = 1200px
notebook2 = 1366px
notebook1 = 1024px
table2 = 992px
table1 = 768px
smart3 = 640px
smart2 = 425px
smart1 = 320px
// ----------

//	smart1 = 320px
@media screen and ({maxw}: smart1)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end 320px

//	smart2 = 425px
@media screen and ({maxw}: smart2)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end smart

//	smart1 = 640px
@media screen and ({minw}: smart3)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end smart

//	table1 = 768px
@media screen and ({minw}: table1)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end  table

//	table2 = 992px
@media screen and ({minw}: table2)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end table

//	notebook1 = 1024px
@media screen and ({minw}: notebook1)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end l-smart

//	notebook2 = 1366px
@media screen and ({minw}: notebook2)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end l-smart

//	pchd1 = 1200px
@media screen and ({minw}: pchd1)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end l-smart

//		pchd2 = 2560px
@media screen and ({minw}: pchd2)
	.error{
		border 1px solid #333
		background-color: #cc4242
	}
//  end l-smart
