// classic_html_padding_margin

// nopadding nomargin
.nopadding
	padding 0 px  !important

.nomargin
	margin  0 px  !important

.noall
	margin  0 px  !important
	padding 0 px  !important


// zero padding top right bottom left
.pt0i
	padding-top 0 px  !important

.pr0i
	padding-right 0 px  !important

.pb0i
	padding-bottom  0 px  !important

.pl0i
	padding-left  0 px

.pt0
	padding-top 0 px

.pr0
	padding-right 0 px

.pb0
	padding-bottom  0 px

.pl0
	padding-left  0 px

// zero margin top right bottom left
.mt0i
	margin-top  0 px  !important

.mr0i
	margin-right  0 px  !important

.mb0i
	margin-bottom 0 px  !important

.ml0i
	margin-left 0 px

.mt0
	margin-top  0 px

.mr0
	margin-right  0 px

.mb0
	margin-bottom 0 px

.ml0
	margin-left 0 px



// padding top right bottom left
// padding-top
.pt1
	padding-top 1 px
.pt2
	padding-top 2 px
.pt3
	padding-top 3 px
.pt4
	padding-top 4 px
.pt5
	padding-top 5 px
.pt6
	padding-top 6 px
.pt7
	padding-top 7 px
.pt8
	padding-top 8 px
.pt9
	padding-top 9 px
.pt10
	padding-top 10  px
.pt11
	padding-top 11  px
.pt12
	padding-top 12  px
.pt13
	padding-top 13  px
.pt14
	padding-top 14  px
.pt15
	padding-top 15  px
.pt16
	padding-top 16  px
.pt17
	padding-top 17  px
.pt18
	padding-top 18  px
.pt19
	padding-top 19  px
.pt20
	padding-top 20  px
.pt21
	padding-top 21  px
.pt22
	padding-top 22  px
.pt23
	padding-top 23  px
.pt24
	padding-top 24  px
.pt25
	padding-top 25  px
.pt26
	padding-top 26  px
.pt27
	padding-top 27  px
.pt28
	padding-top 28  px
.pt29
	padding-top 29  px
.pt30
	padding-top 30  px
.pt31
	padding-top 31  px
.pt32
	padding-top 32  px
.pt33
	padding-top 33  px
.pt34
	padding-top 34  px
.pt35
	padding-top 35  px
.pt36
	padding-top 36  px
.pt37
	padding-top 37  px
.pt38
	padding-top 38  px
.pt39
	padding-top 39  px
.pt40
	padding-top 40  px
.pt41
	padding-top 41  px
.pt42
	padding-top 42  px
.pt43
	padding-top 43  px
.pt44
	padding-top 44  px
.pt45
	padding-top 45  px
.pt46
	padding-top 46  px
.pt47
	padding-top 47  px
.pt48
	padding-top 48  px
.pt49
	padding-top 49  px
.pt50
	padding-top 50  px
.pt55
	padding-top 55  px
.pt60
	padding-top 60  px
.pt65
	padding-top 65  px
.pt70
	padding-top 70  px
.pt75
	padding-top 75  px
.pt80
	padding-top 80  px
.pt85
	padding-top 85  px
.pt90
	padding-top 90  px
.pt95
	padding-top 95  px
.pt100
	padding-top 100 px
.pt110
	padding-top 110 px
.pt120
	padding-top 120 px
.pt130
	padding-top 130 px
.pt140
	padding-top 140 px
.pt150
	padding-top 150 px
.pt160
	padding-top 160 px
.pt170
	padding-top 170 px
.pt180
	padding-top 180 px
.pt190
	padding-top 190 px
.pt200
	padding-top 200 px

// padding-right
.pr1
	padding-right 1 px
.pr2
	padding-right 2 px
.pr3
	padding-right 3 px
.pr4
	padding-right 4 px
.pr5
	padding-right 5 px
.pr6
	padding-right 6 px
.pr7
	padding-right 7 px
.pr8
	padding-right 8 px
.pr9
	padding-right 9 px
.pr10
	padding-right 10  px
.pr11
	padding-right 11  px
.pr12
	padding-right 12  px
.pr13
	padding-right 13  px
.pr14
	padding-right 14  px
.pr15
	padding-right 15  px
.pr16
	padding-right 16  px
.pr17
	padding-right 17  px
.pr18
	padding-right 18  px
.pr19
	padding-right 19  px
.pr20
	padding-right 20  px
.pr21
	padding-right 21  px
.pr22
	padding-right 22  px
.pr23
	padding-right 23  px
.pr24
	padding-right 24  px
.pr25
	padding-right 25  px
.pr26
	padding-right 26  px
.pr27
	padding-right 27  px
.pr28
	padding-right 28  px
.pr29
	padding-right 29  px
.pr30
	padding-right 30  px
.pr31
	padding-right 31  px
.pr32
	padding-right 32  px
.pr33
	padding-right 33  px
.pr34
	padding-right 34  px
.pr35
	padding-right 35  px
.pr36
	padding-right 36  px
.pr37
	padding-right 37  px
.pr38
	padding-right 38  px
.pr39
	padding-right 39  px
.pr40
	padding-right 40  px
.pr41
	padding-right 41  px
.pr42
	padding-right 42  px
.pr43
	padding-right 43  px
.pr44
	padding-right 44  px
.pr45
	padding-right 45  px
.pr46
	padding-right 46  px
.pr47
	padding-right 47  px
.pr48
	padding-right 48  px
.pr49
	padding-right 49  px
.pr50
	padding-right 50  px
.pr55
	padding-right 55  px
.pr60
	padding-right 60  px
.pr65
	padding-right 65  px
.pr70
	padding-right 70  px
.pr75
	padding-right 75  px
.pr80
	padding-right 80  px
.pr85
	padding-right 85  px
.pr90
	padding-right 90  px
.pr95
	padding-right 95  px
.pr100
	padding-right 100 px
.pr110
	padding-right 110 px
.pr120
	padding-right 120 px
.pr130
	padding-right 130 px
.pr140
	padding-right 140 px
.pr150
	padding-right 150 px
.pr160
	padding-right 160 px
.pr170
	padding-right 170 px
.pr180
	padding-right 180 px
.pr190
	padding-right 190 px
.pr200
	padding-right 200 px

// padding-bottom:
.pb1
	padding-bottom  1 px
.pb2
	padding-bottom  2 px
.pb3
	padding-bottom  3 px
.pb4
	padding-bottom  4 px
.pb5
	padding-bottom  5 px
.pb6
	padding-bottom  6 px
.pb7
	padding-bottom  7 px
.pb8
	padding-bottom  8 px
.pb9
	padding-bottom  9 px
.pb10
	padding-bottom  10  px
.pb11
	padding-bottom  11  px
.pb12
	padding-bottom  12  px
.pb13
	padding-bottom  13  px
.pb14
	padding-bottom  14  px
.pb15
	padding-bottom  15  px
.pb16
	padding-bottom  16  px
.pb17
	padding-bottom  17  px
.pb18
	padding-bottom  18  px
.pb19
	padding-bottom  19  px
.pb20
	padding-bottom  20  px
.pb21
	padding-bottom  21  px
.pb22
	padding-bottom  22  px
.pb23
	padding-bottom  23  px
.pb24
	padding-bottom  24  px
.pb25
	padding-bottom  25  px
.pb26
	padding-bottom  26  px
.pb27
	padding-bottom  27  px
.pb28
	padding-bottom  28  px
.pb29
	padding-bottom  29  px
.pb30
	padding-bottom  30  px
.pb31
	padding-bottom  31  px
.pb32
	padding-bottom  32  px
.pb33
	padding-bottom  33  px
.pb34
	padding-bottom  34  px
.pb35
	padding-bottom  35  px
.pb36
	padding-bottom  36  px
.pb37
	padding-bottom  37  px
.pb38
	padding-bottom  38  px
.pb39
	padding-bottom  39  px
.pb40
	padding-bottom  40  px
.pb41
	padding-bottom  41  px
.pb42
	padding-bottom  42  px
.pb43
	padding-bottom  43  px
.pb44
	padding-bottom  44  px
.pb45
	padding-bottom  45  px
.pb46
	padding-bottom  46  px
.pb47
	padding-bottom  47  px
.pb48
	padding-bottom  48  px
.pb49
	padding-bottom  49  px
.pb50
	padding-bottom  50  px
.pb55
	padding-bottom  55  px
.pb60
	padding-bottom  60  px
.pb65
	padding-bottom  65  px
.pb70
	padding-bottom  70  px
.pb75
	padding-bottom  75  px
.pb80
	padding-bottom  80  px
.pb85
	padding-bottom  85  px
.pb90
	padding-bottom  90  px
.pb95
	padding-bottom  95  px
.pb100
	padding-bottom  100 px
.pb110
	padding-bottom  110 px
.pb120
	padding-bottom  120 px
.pb130
	padding-bottom  130 px
.pb140
	padding-bottom  140 px
.pb150
	padding-bottom  150 px
.pb160
	padding-bottom  160 px
.pb170
	padding-bottom  170 px
.pb180
	padding-bottom  180 px
.pb190
	padding-bottom  190 px
.pb200
	padding-bottom  200 px

// padding-left:
.pl1
	padding-left  1 px
.pl2
	padding-left  2 px
.pl3
	padding-left  3 px
.pl4
	padding-left  4 px
.pl5
	padding-left  5 px
.pl6
	padding-left  6 px
.pl7
	padding-left  7 px
.pl8
	padding-left  8 px
.pl9
	padding-left  9 px
.pl10
	padding-left  10  px
.pl11
	padding-left  11  px
.pl12
	padding-left  12  px
.pl13
	padding-left  13  px
.pl14
	padding-left  14  px
.pl15
	padding-left  15  px
.pl16
	padding-left  16  px
.pl17
	padding-left  17  px
.pl18
	padding-left  18  px
.pl19
	padding-left  19  px
.pl20
	padding-left  20  px
.pl21
	padding-left  21  px
.pl22
	padding-left  22  px
.pl23
	padding-left  23  px
.pl24
	padding-left  24  px
.pl25
	padding-left  25  px
.pl26
	padding-left  26  px
.pl27
	padding-left  27  px
.pl28
	padding-left  28  px
.pl29
	padding-left  29  px
.pl30
	padding-left  30  px
.pl31
	padding-left  31  px
.pl32
	padding-left  32  px
.pl33
	padding-left  33  px
.pl34
	padding-left  34  px
.pl35
	padding-left  35  px
.pl36
	padding-left  36  px
.pl37
	padding-left  37  px
.pl38
	padding-left  38  px
.pl39
	padding-left  39  px
.pl40
	padding-left  40  px
.pl41
	padding-left  41  px
.pl42
	padding-left  42  px
.pl43
	padding-left  43  px
.pl44
	padding-left  44  px
.pl45
	padding-left  45  px
.pl46
	padding-left  46  px
.pl47
	padding-left  47  px
.pl48
	padding-left  48  px
.pl49
	padding-left  49  px
.pl50
	padding-left  50  px
.pl55
	padding-left  55  px
.pl60
	padding-left  60  px
.pl65
	padding-left  65  px
.pl70
	padding-left  70  px
.pl75
	padding-left  75  px
.pl80
	padding-left  80  px
.pl85
	padding-left  85  px
.pl90
	padding-left  90  px
.pl95
	padding-left  95  px
.pl100
	padding-left  100 px
.pl110
	padding-left  110 px
.pl120
	padding-left  120 px
.pl130
	padding-left  130 px
.pl140
	padding-left  140 px
.pl150
	padding-left  150 px
.pl160
	padding-left  160 px
.pl170
	padding-left  170 px
.pl180
	padding-left  180 px
.pl190
	padding-left  190 px
.pl200
	padding-left  200 px

// margin top right bottom left
// margin-top:
.mt1
	margin-top  1 px
.mt2
	margin-top  2 px
.mt3
	margin-top  3 px
.mt4
	margin-top  4 px
.mt5
	margin-top  5 px
.mt6
	margin-top  6 px
.mt7
	margin-top  7 px
.mt8
	margin-top  8 px
.mt9
	margin-top  9 px
.mt10
	margin-top  10  px
.mt11
	margin-top  11  px
.mt12
	margin-top  12  px
.mt13
	margin-top  13  px
.mt14
	margin-top  14  px
.mt15
	margin-top  15  px
.mt16
	margin-top  16  px
.mt17
	margin-top  17  px
.mt18
	margin-top  18  px
.mt19
	margin-top  19  px
.mt20
	margin-top  20  px
.mt21
	margin-top  21  px
.mt22
	margin-top  22  px
.mt23
	margin-top  23  px
.mt24
	margin-top  24  px
.mt25
	margin-top  25  px
.mt26
	margin-top  26  px
.mt27
	margin-top  27  px
.mt28
	margin-top  28  px
.mt29
	margin-top  29  px
.mt30
	margin-top  30  px
.mt31
	margin-top  31  px
.mt32
	margin-top  32  px
.mt33
	margin-top  33  px
.mt34
	margin-top  34  px
.mt35
	margin-top  35  px
.mt36
	margin-top  36  px
.mt37
	margin-top  37  px
.mt38
	margin-top  38  px
.mt39
	margin-top  39  px
.mt40
	margin-top  40  px
.mt41
	margin-top  41  px
.mt42
	margin-top  42  px
.mt43
	margin-top  43  px
.mt44
	margin-top  44  px
.mt45
	margin-top  45  px
.mt46
	margin-top  46  px
.mt47
	margin-top  47  px
.mt48
	margin-top  48  px
.mt49
	margin-top  49  px
.mt50
	margin-top  50  px
.mt55
	margin-top  55  px
.mt60
	margin-top  60  px
.mt65
	margin-top  65  px
.mt70
	margin-top  70  px
.mt75
	margin-top  75  px
.mt80
	margin-top  80  px
.mt85
	margin-top  85  px
.mt90
	margin-top  90  px
.mt95
	margin-top  95  px
.mt100
	margin-top  100 px
.mt110
	margin-top  110 px
.mt120
	margin-top  120 px
.mt130
	margin-top  130 px
.mt140
	margin-top  140 px
.mt150
	margin-top  150 px
.mt160
	margin-top  160 px
.mt170
	margin-top  170 px
.mt180
	margin-top  180 px
.mt190
	margin-top  190 px
.mt200
	margin-top  200 px

// margin-right:
.mr1
	margin-right  1 px
.mr2
	margin-right  2 px
.mr3
	margin-right  3 px
.mr4
	margin-right  4 px
.mr5
	margin-right  5 px
.mr6
	margin-right  6 px
.mr7
	margin-right  7 px
.mr8
	margin-right  8 px
.mr9
	margin-right  9 px
.mr10
	margin-right  10  px
.mr11
	margin-right  11  px
.mr12
	margin-right  12  px
.mr13
	margin-right  13  px
.mr14
	margin-right  14  px
.mr15
	margin-right  15  px
.mr16
	margin-right  16  px
.mr17
	margin-right  17  px
.mr18
	margin-right  18  px
.mr19
	margin-right  19  px
.mr20
	margin-right  20  px
.mr21
	margin-right  21  px
.mr22
	margin-right  22  px
.mr23
	margin-right  23  px
.mr24
	margin-right  24  px
.mr25
	margin-right  25  px
.mr26
	margin-right  26  px
.mr27
	margin-right  27  px
.mr28
	margin-right  28  px
.mr29
	margin-right  29  px
.mr30
	margin-right  30  px
.mr31
	margin-right  31  px
.mr32
	margin-right  32  px
.mr33
	margin-right  33  px
.mr34
	margin-right  34  px
.mr35
	margin-right  35  px
.mr36
	margin-right  36  px
.mr37
	margin-right  37  px
.mr38
	margin-right  38  px
.mr39
	margin-right  39  px
.mr40
	margin-right  40  px
.mr41
	margin-right  41  px
.mr42
	margin-right  42  px
.mr43
	margin-right  43  px
.mr44
	margin-right  44  px
.mr45
	margin-right  45  px
.mr46
	margin-right  46  px
.mr47
	margin-right  47  px
.mr48
	margin-right  48  px
.mr49
	margin-right  49  px
.mr50
	margin-right  50  px
.mr55
	margin-right  55  px
.mr60
	margin-right  60  px
.mr65
	margin-right  65  px
.mr70
	margin-right  70  px
.mr75
	margin-right  75  px
.mr80
	margin-right  80  px
.mr85
	margin-right  85  px
.mr90
	margin-right  90  px
.mr95
	margin-right  95  px
.mr100
	margin-right  100 px
.mr110
	margin-right  110 px
.mr120
	margin-right  120 px
.mr130
	margin-right  130 px
.mr140
	margin-right  140 px
.mr150
	margin-right  150 px
.mr160
	margin-right  160 px
.mr170
	margin-right  170 px
.mr180
	margin-right  180 px
.mr190
	margin-right  190 px
.mr200
	margin-right  200 px

// margin-bottom:
.mb1
	margin-bottom 1 px
.mb2
	margin-bottom 2 px
.mb3
	margin-bottom 3 px
.mb4
	margin-bottom 4 px
.mb5
	margin-bottom 5 px
.mb6
	margin-bottom 6 px
.mb7
	margin-bottom 7 px
.mb8
	margin-bottom 8 px
.mb9
	margin-bottom 9 px
.mb10
	margin-bottom 10  px
.mb11
	margin-bottom 11  px
.mb12
	margin-bottom 12  px
.mb13
	margin-bottom 13  px
.mb14
	margin-bottom 14  px
.mb15
	margin-bottom 15  px
.mb16
	margin-bottom 16  px
.mb17
	margin-bottom 17  px
.mb18
	margin-bottom 18  px
.mb19
	margin-bottom 19  px
.mb20
	margin-bottom 20  px
.mb21
	margin-bottom 21  px
.mb22
	margin-bottom 22  px
.mb23
	margin-bottom 23  px
.mb24
	margin-bottom 24  px
.mb25
	margin-bottom 25  px
.mb26
	margin-bottom 26  px
.mb27
	margin-bottom 27  px
.mb28
	margin-bottom 28  px
.mb29
	margin-bottom 29  px
.mb30
	margin-bottom 30  px
.mb31
	margin-bottom 31  px
.mb32
	margin-bottom 32  px
.mb33
	margin-bottom 33  px
.mb34
	margin-bottom 34  px
.mb35
	margin-bottom 35  px
.mb36
	margin-bottom 36  px
.mb37
	margin-bottom 37  px
.mb38
	margin-bottom 38  px
.mb39
	margin-bottom 39  px
.mb40
	margin-bottom 40  px
.mb41
	margin-bottom 41  px
.mb42
	margin-bottom 42  px
.mb43
	margin-bottom 43  px
.mb44
	margin-bottom 44  px
.mb45
	margin-bottom 45  px
.mb46
	margin-bottom 46  px
.mb47
	margin-bottom 47  px
.mb48
	margin-bottom 48  px
.mb49
	margin-bottom 49  px
.mb50
	margin-bottom 50  px
.mb55
	margin-bottom 55  px
.mb60
	margin-bottom 60  px
.mb65
	margin-bottom 65  px
.mb70
	margin-bottom 70  px
.mb75
	margin-bottom 75  px
.mb80
	margin-bottom 80  px
.mb85
	margin-bottom 85  px
.mb90
	margin-bottom 90  px
.mb95
	margin-bottom 95  px
.mb100
	margin-bottom 100 px
.mb110
	margin-bottom 110 px
.mb120
	margin-bottom 120 px
.mb130
	margin-bottom 130 px
.mb140
	margin-bottom 140 px
.mb150
	margin-bottom 150 px
.mb160
	margin-bottom 160 px
.mb170
	margin-bottom 170 px
.mb180
	margin-bottom 180 px
.mb190
	margin-bottom 190 px
.mb200
	margin-bottom 200 px

// margin-left:
.ml1
	margin-left 1 px
.ml2
	margin-left 2 px
.ml3
	margin-left 3 px
.ml4
	margin-left 4 px
.ml5
	margin-left 5 px
.ml6
	margin-left 6 px
.ml7
	margin-left 7 px
.ml8
	margin-left 8 px
.ml9
	margin-left 9 px
.ml10
	margin-left 10  px
.ml11
	margin-left 11  px
.ml12
	margin-left 12  px
.ml13
	margin-left 13  px
.ml14
	margin-left 14  px
.ml15
	margin-left 15  px
.ml16
	margin-left 16  px
.ml17
	margin-left 17  px
.ml18
	margin-left 18  px
.ml19
	margin-left 19  px
.ml20
	margin-left 20  px
.ml21
	margin-left 21  px
.ml22
	margin-left 22  px
.ml23
	margin-left 23  px
.ml24
	margin-left 24  px
.ml25
	margin-left 25  px
.ml26
	margin-left 26  px
.ml27
	margin-left 27  px
.ml28
	margin-left 28  px
.ml29
	margin-left 29  px
.ml30
	margin-left 30  px
.ml31
	margin-left 31  px
.ml32
	margin-left 32  px
.ml33
	margin-left 33  px
.ml34
	margin-left 34  px
.ml35
	margin-left 35  px
.ml36
	margin-left 36  px
.ml37
	margin-left 37  px
.ml38
	margin-left 38  px
.ml39
	margin-left 39  px
.ml40
	margin-left 40  px
.ml41
	margin-left 41  px
.ml42
	margin-left 42  px
.ml43
	margin-left 43  px
.ml44
	margin-left 44  px
.ml45
	margin-left 45  px
.ml46
	margin-left 46  px
.ml47
	margin-left 47  px
.ml48
	margin-left 48  px
.ml49
	margin-left 49  px
.ml50
	margin-left 50  px
.ml55
	margin-left 55  px
.ml60
	margin-left 60  px
.ml65
	margin-left 65  px
.ml70
	margin-left 70  px
.ml75
	margin-left 75  px
.ml80
	margin-left 80  px
.ml85
	margin-left 85  px
.ml90
	margin-left 90  px
.ml95
	margin-left 95  px
.ml100
	margin-left 100 px
.ml110
	margin-left 110 px
.ml120
	margin-left 120 px
.ml130
	margin-left 130 px
.ml140
	margin-left 140 px
.ml150
	margin-left 150 px
.ml160
	margin-left 160 px
.ml170
	margin-left 170 px
.ml180
	margin-left 180 px
.ml190
	margin-left 190 px
.ml200
	margin-left 200 px
